<h1>New addition</h1>

<form action="/wizard_add">
  <label for="addnum1">Add this:</label>
  <input id="addnum1" name="addnum_1">

  <label for="addnum2">to this:</label>
  <input id="addnum2" name="addnum_2">

  <button>Add!</button>

  </form>
