<h1>New division</h1>

<form action="/wizard_divide">
  <label for="divisionnum1">Divide this:</label>
  <input id="divisionnum1" name="divisionnum_1">

  <label for="divisionnum2">by this:</label>
  <input id="divisionnum2" name="divisionnum_2">

  <button>Divide!</button>

  </form>
