<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="multiplynum1">Multiply this:</label>
  <input id="multiplynum1" name="multiplynum_1">

  <label for="multiplynum2">by this:</label>
  <input id="multiplynum2" name="multiplynum_2">

  <button>Multiply!</button>

  </form>
